<a href="https://colab.research.google.com/github/zpalevani/AdultIncomeData/blob/main/Adult_Income_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
df = pd.read_csv(url, header=None)  # Adjust header as needed
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
import pandas as pd

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"

# Define column names based on the dataset description
column_names = [
    "age", "workclass", "fnlwgt", "education", "education-num",
    "marital-status", "occupation", "relationship", "race", "sex",
    "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"
]

# Read the CSV file and assign the column names directly
df = pd.read_csv(url, names=column_names, header=None)  # Adjust header as needed

# Display the formatted dataset to the user
# use pandas' display function
display(df) # or df.head() to display the first few rows

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
df.head() # to display the first few rows

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
# Check for missing values in the dataset
missing_values = df.isnull().sum()

# Display missing values for each column
missing_values

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

It seems there are no missing values, but some datasets use placeholders like "?", "NA", or empty strings instead of actual NaN values. To ensure completeness, you can check for these cases with:

In [7]:
# Check for missing values, including placeholders like "?"
df.replace("?", pd.NA, inplace=True)
missing_values = df.isnull().sum()

print(missing_values)

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [10]:
import pandas as pd

# Define column names based on the dataset description
column_names = [
    "age", "workclass", "education", "education-num",
    "marital-status", "occupation", "relationship", "race", "sex",
    "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"
]

# Download the dataset if it's not already present
import os
if not os.path.exists("adult.data"):
    !wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

# Load the dataset with the defined headers
# If adult.data is in the same directory as your script:
file_path = "adult.data"
# Or provide the full path to the file if it's in a different location:
# file_path = "/path/to/your/adult.data"

df = pd.read_csv(file_path, names=column_names, sep=",", skipinitialspace=True)

# Convert 'age' column to numeric, handling errors by coercing to NaN
df['age'] = pd.to_numeric(df['age'], errors='coerce')

# Now you can use df in the subsequent lines:
# Change from df["age"] to df["age"] to correctly select the 'age' column
df["age"] = df["age"].fillna(df["age"].median())

--2025-03-16 01:43:25--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‘adult.data’

adult.data              [   <=>              ]   3.79M  7.68MB/s    in 0.5s

2025-03-16 01:43:25 (7.68 MB/s) - ‘adult.data’ saved [3974305]

In [11]:
df["occupation"] = df["occupation"].fillna(df["occupation"].mode()[0])
df["native-country"] = df["native-country"].fillna(df["native-country"].mode()[0])

In [12]:
df.isnull().sum()

age               32561
workclass             0
education             0
education-num         0
marital-status        0
occupation            0
relationship          0
race                  0
sex                   0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country        0
income                0
dtype: int64

In [13]:
print(df["age"].describe())

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: age, dtype: float64

In [14]:
df["age"] = pd.to_numeric(df["age"], errors="coerce")  # Convert to numeric, setting errors to NaN if needed
print(df["age"].dtype)  # Ensure it's a number

float64

In [15]:
print(df[df["age"] > 120])  # No realistic human age should be >120

Empty DataFrame
Columns: [age, workclass, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income]
Index: []

In [16]:
df["age"] = df["age"].fillna(df["age"].median())

Fixing the age Column
To restore the correct values, try the following:

1. Reload the Dataset (if needed)
If age is completely incorrect, reload the dataset from the original file:

In [17]:
import pandas as pd

# Reload dataset
# Update file_path to the correct location of your adult.data file.
# For example, if it's in the current directory with the notebook, use:
file_path = "/content/adult.data"  # or "./adult.data"
# or the full path to the file if it's located elsewhere on your system

column_names = [
    "age", "workclass", "fnlwgt", "education", "education-num",
    "marital-status", "occupation", "relationship", "race", "sex",
    "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"
]
df = pd.read_csv(file_path, names=column_names, sep=",", skipinitialspace=True)

2. Ensure age is Numeric

In [18]:
df["age"] = pd.to_numeric(df["age"], errors="coerce")
print(df["age"].dtype)  # Should be int64 or float64

int64

3. Verify the Median Before Imputation
Check the median value before filling missing values:

In [19]:
print(df["age"].describe())  # Check realistic values (should be 30-50 range)

count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

4. Correctly Impute Missing age Values
If missing values exist, replace them with the median correctly:

In [20]:
df["age"].fillna(df["age"].median(), inplace=True)

<ipython-input-20-8c91363d0247>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["age"].fillna(df["age"].median(), inplace=True)

5. Confirm Fix
Check again to ensure missing values are gone and the values are realistic:

In [21]:
print(df["age"].describe())  # The median should be reasonable
print(df.isnull().sum())  # Ensure no missing values remain

count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64
age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64